@import url("https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap");
* {
   font-family: "Scheherazade New", serif;
}
.link-style {
   text-decoration: none;
   color: inherit;
   display: flex;
   justify-content: center;
}
.link-style:hover {
   font-size: 15px;
   color: #F4ED64;
}

