@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.logo-shop {
   font-family: "Montserrat", sans-serif;
   font-size: 24px;
}
.links-ul {
   display: flex;
   list-style: none;
   justify-content: center;
   margin-top: 0;
   li a {
      text-decoration: none;
      margin: 0 1rem;
      padding: 1rem;
      cursor: pointer;
      font-size: 20px;
      color: white;
   }
   li a:hover {
      color: hsl(57, 87%, 67%);
   }
}
.triangle-down {
   width: 0;
   height: 0;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
   border-top: 20px solid #90dbf4;
   margin-right: 40px;
}
.subCategorySlide {
   position: absolute;
   top: 125px;
   padding-bottom: 25px;
   background: white;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
      rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
   ul li a {
      color: black;
   }
}
